{erl_opts, [
    debug_info,
    {d, 'EDB'}
]}.

{src_dirs, ["src"]}.

{shell, [
    {erl_args, "+D"}
]}.

{deps, [
    {eredis, "1.7.1"},  %% For Redis communication
    {jsone, "1.8.1"},    %% For JSON serialization (fast and standard)
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"}, "eqwalizer_support"
    }} %% For static code analysis by erlang-language-platform (VSIX)
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            beam_debug_info,
            beam_debug_stack
        ]},
        {shell, [
            {erl_args, "+D"}
        ]}
    ]}
]}.